* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: black;
    text-decoration: none;
}

body {
    max-width: 1200px;
    width: 100%;
    background-color: rgb(190, 190, 190);
    margin: auto;
}

main {
    max-width: 1200px;
    width: 100%;
    display: flex;
    padding: 2%;
    background-color: grey;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 28.6rem;
    height: 20.3rem;
    overflow: hidden;
}

.container {
    display: flex;
    transition: 0.5s;
}

img {
    max-width: 100%;
    display: block;
    opacity: 0;
    transition: 0.5s;
}

.controls {
    width: 100%;
    display: flex;
    padding: 1%;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem;
}

input {
    display: none;
}

label {
    display: inline-block;
    width: 2.7rem;
    height: 2.7rem;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.3s;
    /* border: 1px solid yellow; */
}

.circle {
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    border-radius: 50%;
    transform: translate(40%, 40%);
    transition: 0.3s;
}

label:hover,
.circle:hover {
    cursor: pointer;
}

.text {
    align-self: flex-start;
    margin: 4rem auto auto 0;
    /* text-align: center; */
    height: 5rem;
}

span {
    display: block;
    font-style: italic;
    color: rgb(3, 3, 3);
    font-size: 1.5rem;
    opacity: 0;
    transition: 1.5s;
}

span#text_p2 {
    transform: translateY(-100%);
}

span#text_p3 {
    transform: translateY(-200%);
}

span#text_p4 {
    transform: translateY(-300%);
}

span#text_p5 {
    transform: translateY(-400%);
}


/* ----------------  p1 ----------------------- */

input#p1:checked~.slider>.container {
    transform: translateX(0)
}

input#p1:checked~.slider>.container>#bird {
    opacity: 1;
}

input#p1:checked~.slider~.controls>label>#circle_p1 {
    background-color: transparent;
    border: 3px solid white;
}

input#p1:not(:checked):hover~.slider~.controls>label>#circle_p1 {
    border: 1px solid grey;
    cursor: pointer;
}

input#p1:not(:checked):active~.slider~.controls>label>#circle_p1 {
    box-shadow: 0 0 9px 3px white;
    background-color: transparent;
}

input#p1:checked~.slider~.controls>.text>#text_p1 {
    opacity: 1;
    color: white;
}


/* ----------------  p2 ----------------------- */

input#p2:checked~.slider>.container {
    transform: translateX(-100%)
}

input#p2:checked~.slider>.container>#cat {
    opacity: 1;
}

input#p2:checked~.slider~.controls>label>#circle_p2 {
    background-color: transparent;
    border: 3px solid white;
}

input#p2:not(:checked):hover~.slider~.controls>label>#circle_p2 {
    border: 1px solid grey;
    cursor: pointer;
}

input#p2:not(:checked):active~.slider~.controls>label>#circle_p2 {
    box-shadow: 0 0 9px 3px white;
    background-color: transparent;
}

input#p2:checked~.slider~.controls>.text>#text_p2 {
    opacity: 1;
    color: white;
}


/* ----------------  p3 ----------------------- */

input#p3:checked~.slider>.container {
    transform: translateX(-200%)
}

input#p3:checked~.slider>.container>#choko {
    opacity: 1;
}

input#p3:checked~.slider~.controls>label>#circle_p3 {
    background-color: transparent;
    border: 3px solid white;
}

input#p3:not(:checked):hover~.slider~.controls>label>#circle_p3 {
    border: 1px solid grey;
    cursor: pointer;
}

input#p3:not(:checked):active~.slider~.controls>label>#circle_p3 {
    box-shadow: 0 0 9px 3px white;
    background-color: transparent;
}

input#p3:checked~.slider~.controls>.text>#text_p3 {
    opacity: 1;
    color: white;
}

input#p3:checked~.slider~.controls>.text>#text_p3 {
    opacity: 1;
    color: white;
}


/* ----------------  p4 ----------------------- */

input#p4:checked~.slider>.container {
    transform: translateX(-300%)
}

input#p4:checked~.slider>.container>#dino {
    opacity: 1;
}

input#p4:checked~.slider~.controls>label>#circle_p4 {
    background-color: transparent;
    border: 3px solid white;
}

input#p4:not(:checked):hover~.slider~.controls>label>#circle_p4 {
    border: 1px solid grey;
    cursor: pointer;
}

input#p4:not(:checked):active~.slider~.controls>label>#circle_p4 {
    box-shadow: 0 0 9px 3px white;
    background-color: transparent;
}

input#p4:checked~.slider~.controls>.text>#text_p4 {
    opacity: 1;
    color: white;
}


/* ----------------  p5 ----------------------- */

input#p5:checked~.slider>.container {
    transform: translateX(-400%)
}

input#p5:checked~.slider>.container>#mouse {
    opacity: 1;
}

input#p5:checked~.slider~.controls>label>#circle_p5 {
    background-color: transparent;
    border: 3px solid white;
}

input#p5:not(:checked):hover~.slider~.controls>label>#circle_p5 {
    border: 1px solid grey;
    cursor: pointer;
}

input#p5:not(:checked):active~.slider~.controls>label>#circle_p5 {
    box-shadow: 0 0 9px 3px white;
    background-color: transparent;
}

input#p5:checked~.slider~.controls>.text>#text_p5 {
    opacity: 1;
    color: white;
}